################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/usbrelay/bin/Release
/usbrelay/obj
/usbrelay/bin/Debug
